html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arima Madurai', cursive;
    background-color: white;
    color: black;
  }  


main.row {
    padding: 15px;
}

#ImageContainer img {
    height: 400px;
    width: 100%;
}

#FerritinForm h3 {
    text-shadow: 1px 1px black;
    font-family: 'Arima Madurai', cursive;
}

#FerritinForm .form-group {
    min-width: 200px;
    margin-right: auto;
    margin-left: auto;
}
  
#MomChart {
    background-color: white;
    opacity: .7;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 3px 2px black;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* margin-left: calc(-1 * (800px / 2));
    margin-top: calc(-1 * (600px / 2)); */
}

.line {
    fill: none;
    stroke: #b88a5c;
    stroke-width: 2;
}

.goalline {
    fill: none;
    stroke: #5cb85c;
    stroke-width: 2;

}

.point {
    cursor: pointer;
}

.axis-label {
    font-weight: bold;
}

.tooltip {
    position: absolute;
    text-align: center;
    border: 1px solid #000;
    background-color: lightblue;
    font-size: 11px;
    color: black;
    padding: 10px;
    max-width: 150px;
    opacity: 0;
  }

.confirm-delete {
    position: absolute;
    text-align: center;
    border: 1px solid #000;
    background-color: white;
    font-size: 11px;
    color: red;
    padding: 10px;
    height: 8px;
    width: 70px;
    opacity: 0;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
}

.confirm-delete h5 {
    margin-top: -8px;
    font-weight: bold;
}

header h1 {
    text-shadow: 1px 1px black;
    font-family: 'Arima Madurai', cursive;
}

footer {
    position: absolute;
    bottom: 0;
}

footer p {
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        margin-bottom: 20px;
    }
}